*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* COLORS */

.palette1{
  background-color: #f96363;
  transition: 2s;
}

.palette2{
  background-color: #cc11f0;
  transition: 2s;
}

.palette3{
  color: #6300ff;
  transition: 2s;
}

.palette4{
  color: 	#ff008d;
  transition: 2s;
}

.palette5{
  background-color: #020204;
  transition: 2s;
}

.palette6{
  background-color: #204829;
  transition: 2s;
}

.palette7{
  color: #92e5a1;
  transition: 2s;
}

.palette8{
  color: 	#22b455;
  transition: 2s;
}



/* REST */

body{
  font-family: 'Train One', cursive;
}

header{
  text-align: center;
  height: 20vh
}

header > h2{
  font-size: 60px;
  padding: 40px 0;
}

main{
  text-align: center;
  height: 80vh
}

h1{
  font-size: 100px;
  padding: 50px 0;
  text-decoration: underline;
}

.title-box{
  flex-basis: 100%;
}

.img-box{
  flex-basis: 100%;
}

.img-box > img{
  height:250px;
  animation: huerotate linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: hue-rotate(100deg);
}
button{
  cursor: pointer;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
}

button:focus{
  outline: none;
}

@keyframes huerotate {
  20% {filter: hue-rotate(100deg);}
  40% {filter: hue-rotate(120deg);}
  60% {filter: hue-rotate(140deg);}
  80% {filter: hue-rotate(180deg);}
  100% {filter: hue-rotate(100deg);}
}
